/****** GLOBAL ******/
* {
  margin: 0;
  padding: 0;
  outline: 0; 
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none!important;
}

body {
  background-color: #EAEAF4;
}

input[type=image] {
  height: 3em;
  width: 3em;
}
/****** NAV + SIDEBAR ******/

.side-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 21%; 
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  background-color: #1F1F3D; 
  /* overflow-x: hidden; */
  padding-top: 2em;
}

.heading {
  color: #E9E9F3;
  margin-left: 24px;
}

.side-bar {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 3px solid #353567;
  border-left: #353567;
  border-right: #353567;
  margin-top: 2em;
}

.filter-starred {
  color: #BFBFDD;
  margin-left: 24px;
  font-size: 1.1em;
  font-weight: bold;
}

.show-starred, .show-all {
  margin-left: 24px;
  background: #5356A4;
  color: #E9E9F3;
  height: 2.5em;
  width: 80%;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1px;
  border: 3px solid #5356A4;
  border-radius: 2px;
  cursor: pointer;
}

/****** INPUT FORM AREA ******/

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #A9AAD2;
  height: 33em;
}

.idea-form {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 25%;
  height: 37em;
  max-width: 31em;
  padding-bottom: 20px;
}

/****** INPUT FORM ELEMENTS ******/

.idea-title {
  width: 24.9em;
  height: 3em;
  margin-bottom: 20px;
  font-size: 20px;
  border: 2px solid #5356A4;
  border-radius: 4px;
}

.idea-body {
  width: 24.9em;
  height: 6em;
  margin-bottom: 20px;
  font-size: 20px;
  border: 2px solid #5356A4;
  border-radius: 4px;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  /* align-self: flex-start; */
  /* justify-self: self-end; */
  color: #1F1F3D;
}

.save-button {
  background: #363667;
  color: #FFFFFF;
  border: 2px solid #5356A4;
  border-radius: 4px;
  min-width: 0;
  width: 26.2em;
  height: 3em;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  cursor: pointer;
}

.save-button[disabled] {
  background: #EAEAF4;
  color: #778899;
  border: none;
  cursor: default;
}

.search-container {
  display: flex;
  align-self: flex-start;
}

.search-button {
  padding: .8em;
  background-color: #363667;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: default;
}

.search-bar{
  border: 2px solid #5356A4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 32em;
  height: 4.3em;
  padding-left: 10px;
}

::placeholder {
  font-size: 20px;
  color: #A9AAD2;
}

/***** IDEABOX OUTPUT AREA ******/

.idea-output {
  background-color: #EAEAF4;
  margin-left: 23%;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: 24em; */
  gap: 2%;
  /* height: 70em; */
  background-color: #EAEAF4;
}

/* ***** IDEABOXES + ELEMENTS ***** */

.idea-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #1F1F3D;
  border-radius: 2px;
}

.box-header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 3em;
  flex-wrap: wrap;
}

.box-body {
  background-color: #FFFFFF;
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18em;
  flex-wrap: wrap;
}

.box-footer {
  background-color: #5356A4;
  color: #E9E9F3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
  border-top : 2px solid #1F1F3D;
}

.idea-box-title {
  margin-left: 1em;
}

p {
  margin-left: 1em;
  display: flex;
  overflow: scroll;
  white-space: normal;
  font-size: 1.6em;
  font-weight: lighter;
}

p::-webkit-scrollbar {
  display: none;
}

button.comment {
  font-weight: bold;
  font-size: 1.2em;
  color: #FFFFFF;
  background-color: #5356A4;
  border: none;
  margin: 0;
  padding: 0;
  /* cursor: pointer; */
}

.comment-section {
  background-color: purple;
}
